@{
    ViewData["Title"] = "Contact Information";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Lisa Gobo<br />
    SSI Hub leader<br/>
    Colyton Hub<br />
    Nelson Street<br />
    Mount Druitt NSW 2770 <br />
    <abbr title="Phone">Phone:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong> <a href="mailto:lgobo@ssi.org.au">lgobo@ssi.org.au</a><br />
</address>
